/* src/App.css */

header {
  background-color: white;
  color: #333;
  padding: 1em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header .app-title {
  margin: 0;
}

header nav ul {
  list-style-type: none;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin-right: 20px;
}

main {
  padding: 20px;
}

footer {
  background-color: white;
  color: white;
  text-align: left;
  padding: 1em;
  position: absolute;
  bottom: 0;
  width: 100%;
}
